doctype html
// HEAD
head
  title Site 12 Indicorp
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css' rel='stylesheet')
  script(src='https://unpkg.com/vue@3/dist/vue.global.js')
  link(rel='stylesheet' href='/src/scss/bootstrap-grid.css')
  link(rel='stylesheet' href='/assets/css/main.min.css')
