doctype html
html(lang="pl")
    //HEAD
    include parts/head.pug
    body
        div(id='app')
            //HEADER
            include parts/header.pug
            //SLIDER
            include parts/slider.pug
            //CONTENT
            include parts/content.pug       
            //FOOTER
            include parts/footer.pug